@import "./normalize.css";

:root{
    --color-text:#666;
    --color-height-text:#ff5777;
    --color-tint:#ff8198;
    --color-background:#fff;
    --font-size:14px;
    --line-height:1.5;
}

*,
*::before,/*CSS3引入了 ::（两个冒号）是用来区分伪类(:一个冒号)和伪元素(::两个冒号)。*/
*::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
  width: 100%
}

body{
   font-family: 'Microsoft YaHei UI';
    user-select: none;/*禁止用户鼠标在页面上选中文字*/
    -webkit-tap-highlight-color: transparent;/*webkit苹果浏览器引擎*/
    background: var(--color-background);
    color: var(--color-text);
    width: 100vm;/*width:100vm;就是屏幕宽度的100%*/
}
a {
    color: var(--color-text);
    text-decoration: none;
}
.clear-fix :after{/*清除浮动*/
   clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}
.clear-fix{
    zoom: 1;
}
.left{
    float: left;
}
.right{
    float: right;
}
